<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="StyleSheet" type="text/css"
	href="/statics/css/loginstyle.css" />
<script type="text/javascript" src='/statics/js/jquery-1.11.3.min.js'></script>
<title>Login</title>
</head>
<body>
	<div id='main'>
	<table border="0" align="center" style="font-size:13px;" width="300">  
        <tr>  
            <td align="center" colspan="2"><div id="con"></div></td>  
        </tr>  
        <tr>  
            <td align="right" height="30">用户名：</td><td><input type="text" name="username" id="user" class="text" /><div id="userlabel"></div></td>  
        </tr>  
        <tr>  
            <td align="right" height="30">密码：</td><td><input type="password" name="password" id="password" class="text" /><div id="pwdlabel"></div></td>  
        </tr>  
        <tr>  
            <td align="center" colspan="2"><input type="button" id="btn" value="登录" /> <input type="button" value="重置" id="re" /></td>  
        </tr>  
    </table>  
	</div>
	
<script type="text/javascript" src='/statics/js/login.js'></script>	
	
</body>
</html>